<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>
  <body>
    <section class="heading">
      <h1>Your Single Destination of Tools you need !</h1>
      <h4>Check Weather is Live.. Check Out Features</h4>
    </section>

    <section class="navigation_bar">
      <button class="nav-but">QR Code Generator</button>
      <button class="nav-but">
        <img src="svgs/left__arrow.svg" alt="Left Arrow"/>
        Check Weather
      </button>
      <button class="nav-but">Joke Finder</button>
    </section>
    <hr />
  </body>
</html>
